#center-dark {
  width: 700px;
  height: 300px;
  /* background-color: #ccf4f3d7; */
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
}

#center-light {
  width: 700px;
  height: 300px;
  /* background-color: #ccf4f3d7; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: red;
  font-size: 20px;
}

#btn-light {
  align-self: flex-end;
  margin-right: 10px;
  position: relative;
  bottom: 0px;
  height: 30px;
}

#btn-dark {
  align-self: flex-end;
  margin-right: 10px;
  position: relative;
  background-color: black;
  color: white;
  bottom: 0px;
  height: 30px;
}
