#textContainer {
  display: flex;
  /* justify-content: center; */
  padding-top: 50px;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 31, 28);
  width: 800px;
  height: 200px;
  gap: 10px;
  border-radius: 10px;
}

#textTitle {
  color: orange;
  font-size: 23px;
}

#text {
  color: white;
  margin: 20px;
}
