#container {
  background-color: #338194;
  margin: 0;
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 10px;
}
.btn {
  width: 150px;
  height: 40px;
}
